<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
          <div class="w-full px-10 py-1.5 flex justify-between bg-black text-white">
              <img class="hover:scale-[1.25]"
                  src="https://imgs.search.brave.com/hkArTvo0jBpPoHXNhOn2O1JQ_PdqibLgc6tAHHjf4Uw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8z/LzM1L1BpbnRlcmVz/dF9Mb2dvLnN2Zw.svg"
                  width="100px">
              <div class="flex gap-10 items-center font-semibold">
                  <div class="hover:text-red-600 text-lg"><a href="/profile">Profile</a></div><a
                      class="hover:text-red-600 text-lg" href="/feed">Feed</a><a
                      class="hover:scale-[1.25] px-3 py-1 bg-red-700 text-white rounded-lg" href="/logout">Logout</a>
              </div>
          </div>
        <div class="w-full min-h-screen bg-zinc-800 px-10 py-5 text-white">
            <h1 class="text-xl">create a new post</h1>
            <form action="/createpost" method="post" enctype="multipart/form-data">
            <input class="block w-1/3 px-3 py-2 " type="file" name="postimage">
            <input class="text-black block w-1/3 px-3 py-2 border-2 mt-2 rounded-md" type="text" placeholder="title" name="title">
            <textarea class="text-black block w-1/3 px-3 py-2 border-2 mt-2 rounded-md" type="text"
                placeholder="description" name="discription"></textarea>
            <input class="block w-1/3 px-3 py-2 mt-2 bg-red-700 rounded-md" type="submit" value="createpost">
            </form>
        </div>
         <script src="https://cdn.tailwindcss.com" async defer></script>
        <script src="" async defer></script>
    </body>
</html>