<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
       <div class="w-full px-10 py-1.5 flex justify-between bg-black text-white">
           <img class="hover:scale-[1.25]"
               src="https://imgs.search.brave.com/hkArTvo0jBpPoHXNhOn2O1JQ_PdqibLgc6tAHHjf4Uw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8z/LzM1L1BpbnRlcmVz/dF9Mb2dvLnN2Zw.svg"
               width="100px">
           <div class="flex gap-10 items-center font-semibold">
               <div class="hover:text-red-600 text-lg"><a href="/profile">Profile</a></div><a
                   class="hover:text-red-600 text-lg" href="/feed">Feed</a><a
                   class="hover:scale-[1.25] px-3 py-1 bg-red-700 text-white rounded-lg" href="/logout">Logout</a>
           </div>
       </div>
    <div
        class="w-full bg-cover min-h-screen bg-zinc-800 px-10 py-8 text-white
        bg-[url('https://envato-shoebox-0.imgix.net/2af9/82d5-2d30-4246-b517-a71a325820e6/TVC-107.jpg?auto=compress%2Cformat&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&w=1000&fit=max&markalign=center%2Cmiddle&markalpha=18&s=177831094c99c6eb935023276443360b')]">
        <div class="cards flex flex-wrap gap-2">
            <% posts.forEach((elem) => {%>
            <div class="card text-center bg-zinc-200 text-black rounded-lg">
                <div class="w-40 h-40 rounded-lg overflow-hidden">
                    <img src="/images/uploads/<%= elem.postimage %>" class="w-full h-full object-cover">
                </div>
               <a href="/card:postId"><%=elem.title %></a>
            </div>
            <% 
                })
            %>

        </div>
    </div>
    <script src="https://cdn.tailwindcss.com" async defer></script>
    <script src="" async defer></script>
</body>

</html>