<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style5.css">
</head>

<body>
       <div class="w-full px-10 py-1.5 flex justify-between bg-black text-white">
           <img class="hover:scale-[1.25]"
               src="https://imgs.search.brave.com/hkArTvo0jBpPoHXNhOn2O1JQ_PdqibLgc6tAHHjf4Uw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8z/LzM1L1BpbnRlcmVz/dF9Mb2dvLnN2Zw.svg"
               width="100px">
           <div class="flex gap-10 items-center font-semibold">
               <div class="hover:text-red-600 text-lg"><a href="/profile">Profile</a></div><a
                   class="hover:text-red-600 text-lg" href="/feed">Feed</a><a
                   class="hover:scale-[1.25] px-3 py-1 bg-red-700 text-white rounded-lg" href="/logout">Logout</a>
           </div>
       </div>
    <div id="main"
        class="w-full bg-cover min-h-screen bg-zinc-800 px-10 py-8 text-white
      "> 
        <div class="cards flex flex-wrap gap-2">
            <% posts.forEach((elem) => {%>
            <div id="card" class="card text-center bg-zinc-200 text-black rounded-lg">
                <div class="w-40 h-40 rounded-lg overflow-hidden">
                    <img src="/images/uploads/<%= elem.postimage %>" class="w-full h-full object-cover">
                </div>
               <a id="link" href="/card/<%= elem._id%>"><%=elem.title %></a>
            </div>
            <% 
                })
            %>

        </div>
    </div>
    <script src="https://cdn.tailwindcss.com" async defer></script>
    <script src="" async defer></script>
     <script>
         const cards=document.querySelectorAll("#card")
         cards.forEach((elem)=>{
             elem.addEventListener("click", function () {
             elem.querySelector("#link").click();
             })
         })
     </script>
</body>

</html>